.headerbody {
    background-image: linear-gradient(rgb(50, 37, 128), rgb(22, 22, 136));
    max-width: 750px;
    margin: auto;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }

.sidesheader{
  background-image: linear-gradient(rgb(50, 37, 128), rgb(19, 19, 51));
}



.uppersection {
    display: flex;
    justify-content: flex-end;
  }

.titleBlock {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 100px;
  
  }

.title {
    color: rgb(66, 223, 255);
  }