.headerbody {
    background-image: linear-gradient(rgb(50, 37, 128), rgb(22, 22, 136));
    max-width: 750px;
    margin: auto;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }

.sidesheader{
  background-image: linear-gradient(rgb(50, 37, 128), rgb(19, 19, 51));
}

#sentlogo {
  width: 50px;
  height: 65px;
  margin: 0px;
}

#settingslogo:hover {
  opacity: 0.7;
}

#sentlogo:hover {
  opacity: 0.7;

}


.uppersection {
    display: flex;
    justify-content: flex-end;
  }

.titleBlock {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 100px;
  
  }

.title {
    color: rgb(66, 223, 255);
    background: -webkit-linear-gradient(rgb(224, 246, 255),rgb(0, 213, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .titleSuccess {
    color: rgb(255, 161, 66);
    background: -webkit-linear-gradient(rgb(255, 143, 45),rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }