* {
  /*background-color: rgb(13, 0, 33);*/
  box-sizing: border-box;
  margin: 0;
  overscroll-behavior: none;
  

}



.body {
  background-image: linear-gradient(rgb(22, 22, 136), black);
  height: 100vh;
  max-width: 750px;
  margin: auto;
  z-index: 0;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.sidesbody {
  background-image: linear-gradient(rgb(19, 19, 51), rgb(0, 0, 0));

}

.techbodyparent{
  display: flex;
  pointer-events: none;

}

.techsidebodyleft{
  background-image: url('../assets/techside.png');
  width: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100vh;
  position: absolute;
  pointer-events: none;
  


}

.techsidebodyright {
  background-image: url('../assets/techsideright.png');
  width: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: right;
  height: 100vh;
  position: absolute;
  pointer-events: none;







}


.centercircuitbg {
  position: relative;
  /*position is a property where: relative means you are positioning the element relative to itself. absolute is
  where you are positioning the element relative to the closest container that has its position defined. absolute is used for child or pseudo containers.*/
  /*if you have position:absolute and no position:relative in any container, the position::absolute container will position itself relative
  to the DOM, aka the whole screen*/

}

.centercircuitbg::before {
  content:"";       /*always required for pseudo-elements*/
  background-image: url('../assets/centercircuit.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  position: absolute; /*relative to .centercircuitbg's position. */
  top: 0px;       /*These are needed. to cover the entire centercircuitbg image*/
  bottom:0px;
  right: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: 1;
  pointer-events: none;


}

.content {
  position: relative;
  z-index: 2;
}




#sentlogo {
  max-width: 100px;
  margin-left: -80px;
}



.inputs {
  display: block;

}

#usernameInputBox {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 22px;
  margin-bottom: 5px;
  background-color: rgb(238, 238, 238);
  border-color: rgb(238, 238, 238);
  
}

#passwordInputBox {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 22px;
  background-color: rgb(238, 238, 238);
  border-color: rgb(238, 238, 238);
  z-index: 1;

}

.memory {
  display: flex;
  box-sizing: content-box;
  justify-content: center;
  margin: 40px;

  height: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 40px;
}

#rememberMe {
  color:rgb(66, 223, 255);
  font-weight: bold;

}

#forgotPass {
  text-decoration: none;
  color:rgb(223, 190, 255);
  font-weight: bold;

}

.log {
  display: block;
  text-align: center;
}

#logbutton {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(rgb(72, 98, 215), rgb(117, 212, 244));
  border-color:rgb(255, 255, 255);

  color:rgb(255, 255, 255);
  font-weight: bold;
}

.orLoginWith {
  margin-top: 50px;
  margin-bottom: 0px;
  color: rgb(66, 223, 255);
  font-weight: bold;

}

.loginOptions {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.newUser {
  display: flex;
  justify-content: center;
  position: relative;
  right: 95px;
  margin-top: 60px;
  color: rgb(66, 223, 255);
  font-weight: bold;

}

#signup {
  display: flex;
  justify-content: center;
  position: relative;
  right: 77px;
  text-decoration: none;
  color:rgb(223, 190, 255);
  font-weight: bold;
}


